MyGameServer/.vs/MyGameServer/v16/.suo
MyGameServer/.vs/MyGameServer/v16/Browse.VC.db
MyGameServer/.vs/MyGameServer/v16/Browse.VC.db-shm
MyGameServer/.vs/MyGameServer/v16/Browse.VC.opendb
MyGameServer/.vs/MyGameServer/v16/ipch/83969c88953b7dcd.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/16565fec9e64356f/STREAM.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/2b8701faee2c680b/INIFILE.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/50dbc390052ab49e/INIFILE.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/66a7c26fd8614b65/REGISTRY.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/880c368a9c367be4/REGISTRY.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/f0964ebec6a42b88/MYGAMESERVER.ipch
MyGameServer/MyGameServer.vcxproj.filters
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/9bbd8cfd4f2f7e3a/CIRCULARQUEUE.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/f7ea113d3ee262f8/LOG.ipch
MyGameServer/Debug/MyGameServer.idb
MyGameServer/Debug/MyGameServer.log
MyGameServer/Debug/MyGameServer.obj
MyGameServer/Debug/MyGameServer.pch
MyGameServer/Debug/MyGameServer.pdb
MyGameServer/Debug/pch.obj
MyGameServer/Debug/Registry.obj
MyGameServer/Debug/MyGameServer.tlog/CL.command.1.tlog
MyGameServer/Debug/MyGameServer.tlog/CL.read.1.tlog
MyGameServer/Debug/MyGameServer.tlog/CL.write.1.tlog
MyGameServer/Debug/MyGameServer.tlog/MyGameServer.lastbuildstate
MyGameServer/Debug/MyGameServer.tlog/unsuccessfulbuild
MyGameServer/MyGameServer.vcxproj
MyGameServer/.vs/MyGameServer/v16/Browse.VC.db-wal
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/1d530ec229e285e0/SERVICE.ipch
MyGameServer/Debug/Crypt.obj
MyGameServer/Debug/Stream.obj
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/699d5bdfb2a4a7be/MINIDUMP.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/7091f22e1ba696e3/CRYPT.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/8684b84bde4d38e3/MINIDUMP.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/d716f5bfd426e11b/MEMORYPOOL.ipch
