MyGameServer/.vs/MyGameServer/v16/.suo
MyGameServer/.vs/MyGameServer/v16/Browse.VC.db
MyGameServer/.vs/MyGameServer/v16/Browse.VC.db-shm
MyGameServer/.vs/MyGameServer/v16/Browse.VC.opendb
MyGameServer/.vs/MyGameServer/v16/ipch/83969c88953b7dcd.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/16565fec9e64356f/STREAM.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/2b8701faee2c680b/INIFILE.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/50dbc390052ab49e/INIFILE.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/66a7c26fd8614b65/REGISTRY.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/880c368a9c367be4/REGISTRY.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/f0964ebec6a42b88/MYGAMESERVER.ipch
MyGameServer/MyGameServer.vcxproj.filters
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/9bbd8cfd4f2f7e3a/CIRCULARQUEUE.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/f7ea113d3ee262f8/LOG.ipch
MyGameServer/Debug/MyGameServer.idb
MyGameServer/Debug/MyGameServer.log
MyGameServer/Debug/MyGameServer.obj
MyGameServer/Debug/MyGameServer.pch
MyGameServer/Debug/MyGameServer.pdb
MyGameServer/Debug/pch.obj
MyGameServer/Debug/Registry.obj
MyGameServer/Debug/MyGameServer.tlog/CL.command.1.tlog
MyGameServer/Debug/MyGameServer.tlog/CL.read.1.tlog
MyGameServer/Debug/MyGameServer.tlog/CL.write.1.tlog
MyGameServer/Debug/MyGameServer.tlog/MyGameServer.lastbuildstate
MyGameServer/Debug/MyGameServer.tlog/unsuccessfulbuild
MyGameServer/MyGameServer.vcxproj
MyGameServer/.vs/MyGameServer/v16/Browse.VC.db-wal
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/1d530ec229e285e0/SERVICE.ipch
MyGameServer/Debug/Crypt.obj
MyGameServer/Debug/Stream.obj
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/699d5bdfb2a4a7be/MINIDUMP.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/7091f22e1ba696e3/CRYPT.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/8684b84bde4d38e3/MINIDUMP.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/d716f5bfd426e11b/MEMORYPOOL.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/2441ff48ecc2568d/RANDOM.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/352e9db594694129/NETWORKSESSION.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/37bbc9279b4aa187/CIRCULARQUEUE.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/5e5d8efb6b034544/MULTITHREADSYNC.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/644c3b22b419a3dc/RANDOM.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/6681e0e3afaf06cd/GLOBAL.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/95862e9fa0c92290/NETWORKSESSION.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/eb8125a9534a8e32/CRITICALSECTION.ipch
TCP_IP Socket Practice/EchoClient/EchoClient.vcxproj
TCP_IP Socket Practice/EchoClient/EchoClient.vcxproj.filters
TCP_IP Socket Practice/EchoClient/EchoClient.vcxproj.user
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.exe.recipe
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.log
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.obj
TCP_IP Socket Practice/EchoClient/Debug/vc142.idb
TCP_IP Socket Practice/EchoClient/Debug/vc142.pdb
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.tlog/CL.command.1.tlog
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.tlog/CL.read.1.tlog
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.tlog/CL.write.1.tlog
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.tlog/EchoClient.lastbuildstate
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.tlog/link.command.1.tlog
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.tlog/link.read.1.tlog
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.tlog/link.write.1.tlog
TCP_IP Socket Practice/EchoServer/EchoServer.vcxproj
TCP_IP Socket Practice/EchoServer/EchoServer.vcxproj.filters
TCP_IP Socket Practice/EchoServer/EchoServer.vcxproj.user
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.exe.recipe
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.log
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.obj
TCP_IP Socket Practice/EchoServer/Debug/vc142.idb
TCP_IP Socket Practice/EchoServer/Debug/vc142.pdb
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.tlog/CL.command.1.tlog
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.tlog/CL.read.1.tlog
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.tlog/CL.write.1.tlog
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.tlog/EchoServer.lastbuildstate
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.tlog/link.command.1.tlog
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.tlog/link.read.1.tlog
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.tlog/link.write.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/TCP_IP Socket Practice.sln
TCP_IP Socket Practice/TCP_IP Socket Practice/TCP_IP Socket Practice.vcxproj
TCP_IP Socket Practice/TCP_IP Socket Practice/TCP_IP Socket Practice.vcxproj.filters
TCP_IP Socket Practice/TCP_IP Socket Practice/TCP_IP Socket Practice.vcxproj.user
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/.suo
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/Browse.VC.db
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/Browse.VC.db-shm
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/Browse.VC.db-wal
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/Browse.VC.opendb
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/ipch/AutoPCH/51a64a3939dd7c24/ECHOSERVER.ipch
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/ipch/AutoPCH/9854b7eeb8559144/ECHOCLIENT.ipch
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/ipch/AutoPCH/a4e817e59deeae33/SOCKETPRACTICE.ipch
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/EchoClient.exe
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/EchoClient.ilk
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/EchoClient.pdb
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/EchoServer.exe
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/EchoServer.ilk
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/EchoServer.pdb
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/SocketPractice.obj
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/socketpractice.obj.enc
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP Socket Practice.exe
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP Socket Practice.exe.recipe
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP Socket Practice.ilk
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP Socket Practice.log
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP Socket Practice.pdb
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP Socket Practice.vcxproj.FileListAbsolute.txt
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/vc142.idb
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/vc142.pdb
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP S.7bd422cb.tlog/CL.command.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP S.7bd422cb.tlog/CL.read.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP S.7bd422cb.tlog/CL.write.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP S.7bd422cb.tlog/link.command.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP S.7bd422cb.tlog/link.read.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP S.7bd422cb.tlog/link.write.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP S.7bd422cb.tlog/TCP_IP Socket Practice.lastbuildstate
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.Build.CppClean.log
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.vcxproj.FileListAbsolute.txt
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.Build.CppClean.log
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.vcxproj.FileListAbsolute.txt
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP Socket Practice.Build.CppClean.log
TCP_IP Socket Practice/IOCP Client/IOCP Client.vcxproj
TCP_IP Socket Practice/IOCP Client/IOCP Client.vcxproj.filters
TCP_IP Socket Practice/IOCP Client/IOCP Client.vcxproj.user
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.exe.recipe
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.log
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.obj
TCP_IP Socket Practice/IOCP Client/Debug/vc142.idb
TCP_IP Socket Practice/IOCP Client/Debug/vc142.pdb
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.tlog/CL.command.1.tlog
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.tlog/CL.read.1.tlog
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.tlog/CL.write.1.tlog
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.tlog/IOCP Client.lastbuildstate
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.tlog/link.command.1.tlog
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.tlog/link.read.1.tlog
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.tlog/link.write.1.tlog
TCP_IP Socket Practice/IOCP Server/IOCP Server.vcxproj
TCP_IP Socket Practice/IOCP Server/IOCP Server.vcxproj.filters
TCP_IP Socket Practice/IOCP Server/IOCP Server.vcxproj.user
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.exe.recipe
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.log
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.obj
TCP_IP Socket Practice/IOCP Server/Debug/vc142.idb
TCP_IP Socket Practice/IOCP Server/Debug/vc142.pdb
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.tlog/CL.command.1.tlog
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.tlog/CL.read.1.tlog
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.tlog/CL.write.1.tlog
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.tlog/IOCP Server.lastbuildstate
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.tlog/link.command.1.tlog
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.tlog/link.read.1.tlog
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.tlog/link.write.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/ipch/AutoPCH/39e0f6d1213e5d14/IOCP CLIENT.ipch
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/ipch/AutoPCH/6561f9bce4484a2c/IOCP SERVER.ipch
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/IOCP Client.exe
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/IOCP Client.ilk
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/IOCP Client.pdb
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/IOCP Server.exe
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/IOCP Server.ilk
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/IOCP Server.pdb
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/331177050e5d8e47/EVENTSELECT.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/3a83261362ab09c4/IOCP.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/4f64762d91fc404b/CLIENTSESSION.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/5d67b4821b6e19fa/EVENTSELECT.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/62863b11036cfe16/PACKETSESSION.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/bd75aeb76c1bed16/CLIENTSESSION.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/d36c64853a740645/IOCP.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/e713039d4f5f7ef3/PACKETSESSION.ipch
MyGameServer/Debug/CircularQueue.obj
MyGameServer/Debug/EventSelect.obj
MyGameServer/Debug/IniFile.obj
MyGameServer/Debug/Iocp.obj
MyGameServer/Debug/MiniDump.obj
MyGameServer/Debug/MyGameServer.lib
MyGameServer/Debug/MyGameServer.vcxproj.FileListAbsolute.txt
MyGameServer/Debug/NetworkSession.obj
MyGameServer/Debug/PacketSession.obj
MyGameServer/Debug/Service.obj
MyGameServer/Debug/MyGameServer.tlog/Lib.command.1.tlog
MyGameServer/Debug/MyGameServer.tlog/Lib.read.1.tlog
MyGameServer/Debug/MyGameServer.tlog/Lib-link.write.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/Solution.VC.db
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/ipch/AutoPCH/9222c5d7cb864821/EVENTSELECT CLIENT.ipch
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/ipch/AutoPCH/fe7261bca57b7499/EVENTSELECT SERVER.ipch
