MyGameServer/.vs/MyGameServer/v16/.suo
MyGameServer/.vs/MyGameServer/v16/Browse.VC.db
MyGameServer/.vs/MyGameServer/v16/Browse.VC.db-shm
MyGameServer/.vs/MyGameServer/v16/Browse.VC.opendb
MyGameServer/.vs/MyGameServer/v16/ipch/83969c88953b7dcd.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/16565fec9e64356f/STREAM.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/2b8701faee2c680b/INIFILE.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/50dbc390052ab49e/INIFILE.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/66a7c26fd8614b65/REGISTRY.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/880c368a9c367be4/REGISTRY.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/f0964ebec6a42b88/MYGAMESERVER.ipch
MyGameServer/MyGameServer.vcxproj.filters
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/9bbd8cfd4f2f7e3a/CIRCULARQUEUE.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/f7ea113d3ee262f8/LOG.ipch
MyGameServer/Debug/MyGameServer.idb
MyGameServer/Debug/MyGameServer.log
MyGameServer/Debug/MyGameServer.obj
MyGameServer/Debug/MyGameServer.pch
MyGameServer/Debug/MyGameServer.pdb
MyGameServer/Debug/pch.obj
MyGameServer/Debug/Registry.obj
MyGameServer/Debug/MyGameServer.tlog/CL.command.1.tlog
MyGameServer/Debug/MyGameServer.tlog/CL.read.1.tlog
MyGameServer/Debug/MyGameServer.tlog/CL.write.1.tlog
MyGameServer/Debug/MyGameServer.tlog/MyGameServer.lastbuildstate
MyGameServer/Debug/MyGameServer.tlog/unsuccessfulbuild
MyGameServer/MyGameServer.vcxproj
MyGameServer/.vs/MyGameServer/v16/Browse.VC.db-wal
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/1d530ec229e285e0/SERVICE.ipch
MyGameServer/Debug/Crypt.obj
MyGameServer/Debug/Stream.obj
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/699d5bdfb2a4a7be/MINIDUMP.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/7091f22e1ba696e3/CRYPT.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/8684b84bde4d38e3/MINIDUMP.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/d716f5bfd426e11b/MEMORYPOOL.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/2441ff48ecc2568d/RANDOM.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/352e9db594694129/NETWORKSESSION.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/37bbc9279b4aa187/CIRCULARQUEUE.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/5e5d8efb6b034544/MULTITHREADSYNC.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/644c3b22b419a3dc/RANDOM.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/6681e0e3afaf06cd/GLOBAL.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/95862e9fa0c92290/NETWORKSESSION.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/eb8125a9534a8e32/CRITICALSECTION.ipch
TCP_IP Socket Practice/EchoClient/EchoClient.vcxproj
TCP_IP Socket Practice/EchoClient/EchoClient.vcxproj.filters
TCP_IP Socket Practice/EchoClient/EchoClient.vcxproj.user
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.exe.recipe
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.log
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.obj
TCP_IP Socket Practice/EchoClient/Debug/vc142.idb
TCP_IP Socket Practice/EchoClient/Debug/vc142.pdb
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.tlog/CL.command.1.tlog
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.tlog/CL.read.1.tlog
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.tlog/CL.write.1.tlog
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.tlog/EchoClient.lastbuildstate
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.tlog/link.command.1.tlog
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.tlog/link.read.1.tlog
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.tlog/link.write.1.tlog
TCP_IP Socket Practice/EchoServer/EchoServer.vcxproj
TCP_IP Socket Practice/EchoServer/EchoServer.vcxproj.filters
TCP_IP Socket Practice/EchoServer/EchoServer.vcxproj.user
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.exe.recipe
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.log
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.obj
TCP_IP Socket Practice/EchoServer/Debug/vc142.idb
TCP_IP Socket Practice/EchoServer/Debug/vc142.pdb
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.tlog/CL.command.1.tlog
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.tlog/CL.read.1.tlog
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.tlog/CL.write.1.tlog
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.tlog/EchoServer.lastbuildstate
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.tlog/link.command.1.tlog
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.tlog/link.read.1.tlog
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.tlog/link.write.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/TCP_IP Socket Practice.sln
TCP_IP Socket Practice/TCP_IP Socket Practice/TCP_IP Socket Practice.vcxproj
TCP_IP Socket Practice/TCP_IP Socket Practice/TCP_IP Socket Practice.vcxproj.filters
TCP_IP Socket Practice/TCP_IP Socket Practice/TCP_IP Socket Practice.vcxproj.user
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/.suo
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/Browse.VC.db
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/Browse.VC.db-shm
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/Browse.VC.db-wal
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/Browse.VC.opendb
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/ipch/AutoPCH/51a64a3939dd7c24/ECHOSERVER.ipch
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/ipch/AutoPCH/9854b7eeb8559144/ECHOCLIENT.ipch
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/ipch/AutoPCH/a4e817e59deeae33/SOCKETPRACTICE.ipch
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/EchoClient.exe
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/EchoClient.ilk
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/EchoClient.pdb
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/EchoServer.exe
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/EchoServer.ilk
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/EchoServer.pdb
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/SocketPractice.obj
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/socketpractice.obj.enc
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP Socket Practice.exe
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP Socket Practice.exe.recipe
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP Socket Practice.ilk
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP Socket Practice.log
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP Socket Practice.pdb
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP Socket Practice.vcxproj.FileListAbsolute.txt
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/vc142.idb
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/vc142.pdb
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP S.7bd422cb.tlog/CL.command.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP S.7bd422cb.tlog/CL.read.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP S.7bd422cb.tlog/CL.write.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP S.7bd422cb.tlog/link.command.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP S.7bd422cb.tlog/link.read.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP S.7bd422cb.tlog/link.write.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP S.7bd422cb.tlog/TCP_IP Socket Practice.lastbuildstate
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.Build.CppClean.log
TCP_IP Socket Practice/EchoClient/Debug/EchoClient.vcxproj.FileListAbsolute.txt
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.Build.CppClean.log
TCP_IP Socket Practice/EchoServer/Debug/EchoServer.vcxproj.FileListAbsolute.txt
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/TCP_IP Socket Practice.Build.CppClean.log
TCP_IP Socket Practice/IOCP Client/IOCP Client.vcxproj
TCP_IP Socket Practice/IOCP Client/IOCP Client.vcxproj.filters
TCP_IP Socket Practice/IOCP Client/IOCP Client.vcxproj.user
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.exe.recipe
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.log
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.obj
TCP_IP Socket Practice/IOCP Client/Debug/vc142.idb
TCP_IP Socket Practice/IOCP Client/Debug/vc142.pdb
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.tlog/CL.command.1.tlog
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.tlog/CL.read.1.tlog
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.tlog/CL.write.1.tlog
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.tlog/IOCP Client.lastbuildstate
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.tlog/link.command.1.tlog
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.tlog/link.read.1.tlog
TCP_IP Socket Practice/IOCP Client/Debug/IOCP Client.tlog/link.write.1.tlog
TCP_IP Socket Practice/IOCP Server/IOCP Server.vcxproj
TCP_IP Socket Practice/IOCP Server/IOCP Server.vcxproj.filters
TCP_IP Socket Practice/IOCP Server/IOCP Server.vcxproj.user
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.exe.recipe
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.log
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.obj
TCP_IP Socket Practice/IOCP Server/Debug/vc142.idb
TCP_IP Socket Practice/IOCP Server/Debug/vc142.pdb
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.tlog/CL.command.1.tlog
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.tlog/CL.read.1.tlog
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.tlog/CL.write.1.tlog
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.tlog/IOCP Server.lastbuildstate
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.tlog/link.command.1.tlog
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.tlog/link.read.1.tlog
TCP_IP Socket Practice/IOCP Server/Debug/IOCP Server.tlog/link.write.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/ipch/AutoPCH/39e0f6d1213e5d14/IOCP CLIENT.ipch
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/ipch/AutoPCH/6561f9bce4484a2c/IOCP SERVER.ipch
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/IOCP Client.exe
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/IOCP Client.ilk
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/IOCP Client.pdb
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/IOCP Server.exe
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/IOCP Server.ilk
TCP_IP Socket Practice/TCP_IP Socket Practice/Debug/IOCP Server.pdb
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/331177050e5d8e47/EVENTSELECT.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/3a83261362ab09c4/IOCP.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/4f64762d91fc404b/CLIENTSESSION.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/5d67b4821b6e19fa/EVENTSELECT.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/62863b11036cfe16/PACKETSESSION.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/bd75aeb76c1bed16/CLIENTSESSION.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/d36c64853a740645/IOCP.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/e713039d4f5f7ef3/PACKETSESSION.ipch
MyGameServer/Debug/CircularQueue.obj
MyGameServer/Debug/EventSelect.obj
MyGameServer/Debug/IniFile.obj
MyGameServer/Debug/Iocp.obj
MyGameServer/Debug/MiniDump.obj
MyGameServer/Debug/MyGameServer.lib
MyGameServer/Debug/MyGameServer.vcxproj.FileListAbsolute.txt
MyGameServer/Debug/NetworkSession.obj
MyGameServer/Debug/PacketSession.obj
MyGameServer/Debug/Service.obj
MyGameServer/Debug/MyGameServer.tlog/Lib.command.1.tlog
MyGameServer/Debug/MyGameServer.tlog/Lib.read.1.tlog
MyGameServer/Debug/MyGameServer.tlog/Lib-link.write.1.tlog
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/Solution.VC.db
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/ipch/AutoPCH/9222c5d7cb864821/EVENTSELECT CLIENT.ipch
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/ipch/AutoPCH/fe7261bca57b7499/EVENTSELECT SERVER.ipch
MyGameServer/MyGameServer.sln
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/c3abc0f07e01a8d5/PACKETGENERATOR.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/f27b574310439414/PACKETGENERATOR.ipch
MyGameServer/Debug/ClientSession.obj
MyGameServer/Debug/MyGameServer.Build.CppClean.log
MyGameServer/Debug/PacketGenerator.exe
MyGameServer/Debug/PacketGenerator.ilk
MyGameServer/Debug/PacketGenerator.pdb
MyGameServer/Debug/MyGameServer.tlog/Lib-link.read.1.tlog
PacketGenerator/PacketGenerator.vcxproj
PacketGenerator/PacketGenerator.vcxproj.filters
PacketGenerator/PacketGenerator.vcxproj.user
PacketGenerator/Debug/PacketGenerator.Build.CppClean.log
PacketGenerator/Debug/PacketGenerator.exe.recipe
PacketGenerator/Debug/PacketGenerator.log
PacketGenerator/Debug/PacketGenerator.obj
PacketGenerator/Debug/PacketGenerator.vcxproj.FileListAbsolute.txt
PacketGenerator/Debug/vc142.idb
PacketGenerator/Debug/vc142.pdb
PacketGenerator/Debug/PacketGenerator.tlog/CL.command.1.tlog
PacketGenerator/Debug/PacketGenerator.tlog/CL.read.1.tlog
PacketGenerator/Debug/PacketGenerator.tlog/CL.write.1.tlog
PacketGenerator/Debug/PacketGenerator.tlog/link.command.1.tlog
PacketGenerator/Debug/PacketGenerator.tlog/link.read.1.tlog
PacketGenerator/Debug/PacketGenerator.tlog/link.write.1.tlog
PacketGenerator/Debug/PacketGenerator.tlog/PacketGenerator.lastbuildstate
MyGameServer/Debug/MyGameServerLib.idb
MyGameServer/Debug/MyGameServerLib.lib
MyGameServer/Debug/MyGameServerLib.lib.recipe
MyGameServer/Debug/MyGameServerLib.pch
MyGameServer/Debug/MyGameServerLib.pdb
MyGameServer/Debug/MyGameServerLib.tlog/CL.command.1.tlog
MyGameServer/Debug/MyGameServerLib.tlog/CL.read.1.tlog
MyGameServer/Debug/MyGameServerLib.tlog/CL.write.1.tlog
MyGameServer/Debug/MyGameServerLib.tlog/Lib.command.1.tlog
MyGameServer/Debug/MyGameServerLib.tlog/Lib-link.read.1.tlog
MyGameServer/Debug/MyGameServerLib.tlog/Lib-link.write.1.tlog
MyGameServer/Debug/MyGameServerLib.tlog/MyGameServerLib.lastbuildstate
MyLib/MyLib.vcxproj
MyLib/MyLib.vcxproj.filters
MyLib/MyLib.vcxproj.user
MyServer/MyServer.vcxproj
MyServer/MyServer.vcxproj.filters
MyServer/MyServer.vcxproj.user
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/fb676568e08b6575/STDAFX.ipch
MyGameServer/Debug/MyGameServerLib.Build.CppClean.log
MyGameServer/Debug/ServerSolution.exe
MyGameServer/Debug/ServerSolution.ilk
MyGameServer/Debug/ServerSolution.pdb
MyGameServer/Debug/stdafx.obj
MyGameServer/Debug/MyGameServerLib.tlog/Lib.read.1.tlog
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/f8f2c337aa280c34/SERVERIOCP.ipch
MyGameServer/.vs/MyGameServer/v16/Solution.VC.db
MyGameServer/.vs/MyGameServer/v16/Solution.VC.db-shm
MyGameServer/.vs/MyGameServer/v16/Solution.VC.db-wal
MyGameServer/.vs/MyGameServer/v16/ipch/161f7da173dc8186.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/449c9b7c124327e5.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/c3fbc5c948d37f6.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/febc55a79d2604b6.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/13aa4176f25f3a76/MYSERVERLIB.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/15a681d657df861c/PROCPROTOCOL.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/4dc1d6aadab809c8/COMMON.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/6e4c6b43873107c1/CONNECTEDSESSION.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/70cefc4ae0314f57/STDAFX.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/889540941da3c774/SERVERSOLUTION.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/8bebde6dca30e2a7/SERVER.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/9bf7fc05f15a7d4/???ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/a05fb3502011d97c/STDAFX.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/dacbd732db08458e/CONNECTEDSESSIONMANAGER.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/e961ca2c1cae94e2/STDAFX.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/ee534d65671980e4/PACKETSESSION.ipch
ServerSolution/ServerSolution.vcxproj
ServerSolution/ServerSolution.vcxproj.filters
ServerSolution/ServerSolution.vcxproj.user
ServerSolution/Debug/ConnectedSession.obj
ServerSolution/Debug/ConnectedSessionManager.obj
ServerSolution/Debug/ProcProtocol.obj
ServerSolution/Debug/Server.obj
ServerSolution/Debug/ServerIocp.obj
ServerSolution/Debug/ServerSolution.Build.CppClean.log
ServerSolution/Debug/ServerSolution.exe.recipe
ServerSolution/Debug/ServerSolution.log
ServerSolution/Debug/ServerSolution.pch
ServerSolution/Debug/ServerSolution.vcxproj.FileListAbsolute.txt
ServerSolution/Debug/stdafx.obj
ServerSolution/Debug/vc142.idb
ServerSolution/Debug/vc142.pdb
ServerSolution/Debug/ServerSolution.tlog/CL.command.1.tlog
ServerSolution/Debug/ServerSolution.tlog/CL.read.1.tlog
ServerSolution/Debug/ServerSolution.tlog/CL.write.1.tlog
ServerSolution/Debug/ServerSolution.tlog/link.command.1.tlog
ServerSolution/Debug/ServerSolution.tlog/link.read.1.tlog
ServerSolution/Debug/ServerSolution.tlog/link.write.1.tlog
ServerSolution/Debug/ServerSolution.tlog/ServerSolution.lastbuildstate
ClientSolution/ClientSolution.vcxproj
ClientSolution/ClientSolution.vcxproj.filters
ClientSolution/ClientSolution.vcxproj.user
ClientSolution/Debug/Client.obj
ClientSolution/Debug/ClientSolution.exe.recipe
ClientSolution/Debug/ClientSolution.log
ClientSolution/Debug/ClientSolution.pch
ClientSolution/Debug/stdafx.obj
ClientSolution/Debug/vc142.idb
ClientSolution/Debug/vc142.pdb
ClientSolution/Debug/ClientSolution.tlog/CL.command.1.tlog
ClientSolution/Debug/ClientSolution.tlog/CL.read.1.tlog
ClientSolution/Debug/ClientSolution.tlog/CL.write.1.tlog
ClientSolution/Debug/ClientSolution.tlog/ClientSolution.lastbuildstate
ClientSolution/Debug/ClientSolution.tlog/link.command.1.tlog
ClientSolution/Debug/ClientSolution.tlog/link.read.1.tlog
ClientSolution/Debug/ClientSolution.tlog/link.write.1.tlog
MyGameServer/.vs/MyGameServer/v16/ipch/2823bbfcc1a7b509.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/3d7b3a04827488a6/STDAFX.ipch
MyGameServer/.vs/MyGameServer/v16/ipch/AutoPCH/6401c6470442ebf7/CLIENT.ipch
MyGameServer/Debug/ClientSolution.exe
MyGameServer/Debug/ClientSolution.ilk
MyGameServer/Debug/ClientSolution.pdb
c_study_and_coding_test/coding_test/coding_test.sln
c_study_and_coding_test/coding_test/coding_test.vcxproj
c_study_and_coding_test/coding_test/coding_test.vcxproj.filters
c_study_and_coding_test/coding_test/coding_test.vcxproj.user
c_study_and_coding_test/coding_test/.vs/coding_test/v16/ipch/AutoPCH/f3dd1028d0130648/SOURCE.ipch
c_study_and_coding_test/coding_test/Debug/coding_test.exe
c_study_and_coding_test/coding_test/Debug/coding_test.exe.recipe
c_study_and_coding_test/coding_test/Debug/coding_test.ilk
c_study_and_coding_test/coding_test/Debug/coding_test.log
c_study_and_coding_test/coding_test/Debug/coding_test.pdb
c_study_and_coding_test/coding_test/Debug/coding_test.vcxproj.FileListAbsolute.txt
c_study_and_coding_test/coding_test/Debug/source.obj
c_study_and_coding_test/coding_test/Debug/vc142.idb
c_study_and_coding_test/coding_test/Debug/vc142.pdb
c_study_and_coding_test/coding_test/Debug/coding_test.tlog/CL.command.1.tlog
c_study_and_coding_test/coding_test/Debug/coding_test.tlog/CL.read.1.tlog
c_study_and_coding_test/coding_test/Debug/coding_test.tlog/CL.write.1.tlog
c_study_and_coding_test/coding_test/Debug/coding_test.tlog/coding_test.lastbuildstate
c_study_and_coding_test/coding_test/Debug/coding_test.tlog/link.command.1.tlog
c_study_and_coding_test/coding_test/Debug/coding_test.tlog/link.read.1.tlog
c_study_and_coding_test/coding_test/Debug/coding_test.tlog/link.write.1.tlog
ClientSolution/Debug/ClientSolution.Build.CppClean.log
ClientSolution/Debug/ClientSolution.vcxproj.FileListAbsolute.txt
c_study_and_coding_test/coding_test/.vs/coding_test/v16/.suo
c_study_and_coding_test/coding_test/.vs/coding_test/v16/Browse.VC.db
c_study_and_coding_test/coding_test/.vs/coding_test/v16/Browse.VC.db-shm
c_study_and_coding_test/coding_test/.vs/coding_test/v16/Browse.VC.db-wal
c_study_and_coding_test/coding_test/.vs/coding_test/v16/Browse.VC.opendb
ETC_TEST/ETC_TEST/ETC_TEST.sln
ETC_TEST/ETC_TEST/ETC_TEST.vcxproj
ETC_TEST/ETC_TEST/ETC_TEST.vcxproj.filters
ETC_TEST/ETC_TEST/ETC_TEST.vcxproj.user
ETC_TEST/ETC_TEST/.vs/ETC_TEST/v16/.suo
ETC_TEST/ETC_TEST/.vs/ETC_TEST/v16/Browse.VC.db
ETC_TEST/ETC_TEST/.vs/ETC_TEST/v16/ipch/AutoPCH/3e57734234cc9a97/SOURCE2.ipch
ETC_TEST/ETC_TEST/.vs/ETC_TEST/v16/ipch/AutoPCH/b55753530deff8ca/SOURCE2.ipch
ETC_TEST/ETC_TEST/.vs/ETC_TEST/v16/ipch/AutoPCH/fe3886af270a6762/SOURCE.ipch
ETC_TEST/ETC_TEST/Debug/ETC_TEST.Build.CppClean.log
ETC_TEST/ETC_TEST/Debug/ETC_TEST.exe.recipe
ETC_TEST/ETC_TEST/Debug/ETC_TEST.log
ETC_TEST/ETC_TEST/Debug/ETC_TEST.pdb
ETC_TEST/ETC_TEST/Debug/ETC_TEST.vcxproj.FileListAbsolute.txt
ETC_TEST/ETC_TEST/Debug/libmysql.dll
ETC_TEST/ETC_TEST/Debug/source2.obj
ETC_TEST/ETC_TEST/Debug/vc142.idb
ETC_TEST/ETC_TEST/Debug/vc142.pdb
ETC_TEST/ETC_TEST/Debug/ETC_TEST.tlog/CL.command.1.tlog
ETC_TEST/ETC_TEST/Debug/ETC_TEST.tlog/CL.read.1.tlog
ETC_TEST/ETC_TEST/Debug/ETC_TEST.tlog/CL.write.1.tlog
ETC_TEST/ETC_TEST/Debug/ETC_TEST.tlog/ETC_TEST.lastbuildstate
ETC_TEST/ETC_TEST/Debug/ETC_TEST.tlog/link.command.1.tlog
ETC_TEST/ETC_TEST/Debug/ETC_TEST.tlog/link.read.1.tlog
ETC_TEST/ETC_TEST/Debug/ETC_TEST.tlog/link.write.1.tlog
ETC_TEST/ETC_TEST/Debug/ETC_TEST.tlog/link-cvtres.read.1.tlog
ETC_TEST/ETC_TEST/Debug/ETC_TEST.tlog/link-cvtres.write.1.tlog
ETC_TEST/ETC_TEST/Debug/ETC_TEST.tlog/link-rc.read.1.tlog
ETC_TEST/ETC_TEST/Debug/ETC_TEST.tlog/link-rc.write.1.tlog
ETC_TEST/ETC_TEST/Debug/ETC_TEST.tlog/unsuccessfulbuild
ETC_TEST/ETC_TEST/x64/Debug/ETC_TEST.Build.CppClean.log
ETC_TEST/ETC_TEST/x64/Debug/ETC_TEST.exe
ETC_TEST/ETC_TEST/x64/Debug/ETC_TEST.exe.recipe
ETC_TEST/ETC_TEST/x64/Debug/ETC_TEST.ilk
ETC_TEST/ETC_TEST/x64/Debug/ETC_TEST.log
ETC_TEST/ETC_TEST/x64/Debug/ETC_TEST.pdb
ETC_TEST/ETC_TEST/x64/Debug/ETC_TEST.vcxproj.FileListAbsolute.txt
ETC_TEST/ETC_TEST/x64/Debug/source2.obj
ETC_TEST/ETC_TEST/x64/Debug/vc142.idb
ETC_TEST/ETC_TEST/x64/Debug/vc142.pdb
ETC_TEST/ETC_TEST/x64/Debug/ETC_TEST.tlog/CL.command.1.tlog
ETC_TEST/ETC_TEST/x64/Debug/ETC_TEST.tlog/CL.read.1.tlog
ETC_TEST/ETC_TEST/x64/Debug/ETC_TEST.tlog/CL.write.1.tlog
ETC_TEST/ETC_TEST/x64/Debug/ETC_TEST.tlog/ETC_TEST.lastbuildstate
ETC_TEST/ETC_TEST/x64/Debug/ETC_TEST.tlog/link.command.1.tlog
ETC_TEST/ETC_TEST/x64/Debug/ETC_TEST.tlog/link.read.1.tlog
ETC_TEST/ETC_TEST/x64/Debug/ETC_TEST.tlog/link.write.1.tlog
TCP_IP Socket Practice/EchoClient/Debug/EventSelect Client.obj
TCP_IP Socket Practice/EchoClient/Debug/eventselect client.obj.enc
TCP_IP Socket Practice/EchoServer/Debug/EventSelect Server.obj
TCP_IP Socket Practice/EchoServer/Debug/eventselect server.obj.enc
TCP_IP Socket Practice/TCP_IP Socket Practice/.vs/TCP_IP Socket Practice/v16/ipch/AutoPCH/d10950c1087bf315/EVENTSELECT CLIENT.ipch
c_study_and_coding_test/coding_test/Debug/source.obj.enc
just_study/just_study/just_study.sln
just_study/just_study/just_study.vcxproj
just_study/just_study/just_study.vcxproj.filters
just_study/just_study/just_study.vcxproj.user
just_study/just_study/.vs/just_study/v16/.suo
just_study/just_study/.vs/just_study/v16/Browse.VC.db
just_study/just_study/.vs/just_study/v16/Browse.VC.db-shm
just_study/just_study/.vs/just_study/v16/Browse.VC.db-wal
just_study/just_study/.vs/just_study/v16/Browse.VC.opendb
just_study/just_study/.vs/just_study/v16/ipch/AutoPCH/8f1f0b2f4cc30799/SOURCE.ipch
just_study/just_study/Debug/just_study.exe
just_study/just_study/Debug/just_study.exe.recipe
just_study/just_study/Debug/just_study.ilk
just_study/just_study/Debug/just_study.log
just_study/just_study/Debug/just_study.pdb
just_study/just_study/Debug/just_study.vcxproj.FileListAbsolute.txt
just_study/just_study/Debug/source.obj
just_study/just_study/Debug/vc142.idb
just_study/just_study/Debug/vc142.pdb
just_study/just_study/Debug/just_study.tlog/CL.command.1.tlog
just_study/just_study/Debug/just_study.tlog/CL.read.1.tlog
just_study/just_study/Debug/just_study.tlog/CL.write.1.tlog
just_study/just_study/Debug/just_study.tlog/just_study.lastbuildstate
just_study/just_study/Debug/just_study.tlog/link.command.1.tlog
just_study/just_study/Debug/just_study.tlog/link.read.1.tlog
just_study/just_study/Debug/just_study.tlog/link.write.1.tlog
python_test/PythonApplication1/PythonApplication1.pyproj
python_test/PythonApplication1/PythonApplication1.sln
python_test/PythonApplication1/.vs/PythonApplication1/v16/.suo
just_study/just_study/.vs/just_study/v16/ipch/AutoPCH/7e4ed96adc082f16/SOURCE.ipch
just_study/just_study/x64/Debug/just_study.exe
just_study/just_study/x64/Debug/just_study.exe.recipe
just_study/just_study/x64/Debug/just_study.ilk
just_study/just_study/x64/Debug/just_study.log
just_study/just_study/x64/Debug/just_study.pdb
just_study/just_study/x64/Debug/just_study.vcxproj.FileListAbsolute.txt
just_study/just_study/x64/Debug/source.obj
just_study/just_study/x64/Debug/vc142.idb
just_study/just_study/x64/Debug/vc142.pdb
just_study/just_study/x64/Debug/just_study.tlog/CL.command.1.tlog
just_study/just_study/x64/Debug/just_study.tlog/CL.read.1.tlog
just_study/just_study/x64/Debug/just_study.tlog/CL.write.1.tlog
just_study/just_study/x64/Debug/just_study.tlog/just_study.lastbuildstate
just_study/just_study/x64/Debug/just_study.tlog/link.command.1.tlog
just_study/just_study/x64/Debug/just_study.tlog/link.read.1.tlog
just_study/just_study/x64/Debug/just_study.tlog/link.write.1.tlog
